@import './mixins';
@import './variables';

.btn__hm {
  @include button(16px);

  &.primary {
    @include primary();

    &:disabled {
      background: $grey-darker;
      color: $grey;
      cursor: not-allowed;
    }
  }

  &.outline-primary {
    @include outline-primary();
  }

  &.outline-black {
    @include outline-black();
  }

  &.outline-bottom-primary {
    @include outline-bottom-primary();
  }
}
