
@import './variables';

@mixin d-flex($alignItems: center, $gap: 24px, $justifyContent: center, $flexDirection: row) {
  display: flex;
  align-items: $alignItems;
  gap: $gap;
  justify-content: $justifyContent;
  flex-direction: $flexDirection;
}


@mixin button($fontSize: 14px) {
  border-radius: 10px;
  background-color: transparent;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  font-family: 'Satoshi-Medium', sans-serif;
  font-size: $fontSize;
}


@mixin primary() {
  background: linear-gradient(96deg, $blue-light -10.84%, $purple 196.74%);
  color: $white
}

@mixin outline-primary() {
  color: $purple;
  border: none;
}

@mixin outline-black() {
  border: none;
}

@mixin outline-bottom-primary() {
  color: $purple;
  border-bottom: 2px solid $purple;
  border-radius: 0;
  padding: 8px 0;
  margin: 0 8px 0 0px;
}
