@import "./breakpoints";

@mixin devices($breakpoint) {

  @if $breakpoint == xs-screen {
  @media only screen and (max-width: $xsBreakpoint) {
    @content;
  }
}

@if $breakpoint == sm-screen {
  @media only screen and (max-width: $smBreakpoint) {
    @content;
  }
}

@if $breakpoint == md-screen {
  @media only screen and (max-width: $mdBreakpoint) {
    @content;
  }
}

@if $breakpoint == lg-screen {
  @media only screen and (max-width: $lgBreakpoint) {
    @content;
  }
}

@if $breakpoint == xl-screen {
  @media only screen and (max-width: $xlBreakpoint) {
    @content;
  }
}

}
