
$white : #FFFFFF;
$blue: #4461F2;
$blue-light: #3A8EF6;
$purple: #6F3AFA;
$purple-light: #125FBF;
$black: #404040;
$grey: #DFDFDF;
$grey-darker: #4F555A;
$bg-primary: #F3F3FD;
$maroon: rgb(172, 1, 1);
