@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/responsive';

.hm__container {
  padding: 32px 52px 0 52px;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $bg-primary;


  @include devices(md-screen) {
    padding: 0;
    overflow: auto;
  }
}

