@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/button';
@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/responsive';

.hm__header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: end;

  @include devices(md-screen) {
    @include d-flex(center, 12px, center, column);
    margin-top: 12px;
  }

  .hm__icon {
    @include d-flex(center, 20px, flex-start);

    @include devices(md-screen) {
      gap: 12px;
    }

    .icon {
      width: 50px;

      @include devices(md-screen) {
        width: 25px;
      }

    }

    .title {
      width: 150px;
      @include devices(md-screen) {
        width: 100px;
      }
    }
  }

  .hm__menu {
    @include d-flex();

    a {
      text-decoration: none;
      font-size: 21px;
      color: $black;
      font-weight: 500;
      font-family: 'Satoshi-Regular', sans-serif !important;

      @include devices(md-screen) {
        font-size: 18px;
      }

      &.active {
        font-weight: 600;
        border-bottom: 2px solid rgba(18, 91, 191, .3);
      }
    }
  }

  .hm__auth {
    font-family: 16px;
    @include d-flex(center, 24px, flex-end);
  }

}


.form-control {
  background: transparent;

  @include devices(md-screen) {
    font-size: 16px;
  }
}
