<div class="hm__header">
  <div class="hm__icon">
    <img src="/assets/icons/healthy-me.svg" alt="Icon-Healtyh-Me" class="icon" tabindex="0">
    <img src="/assets/icons/title-healthy-me.svg" alt="Title-Icon-Healtyh-Me" class="title" tabindex="0">
  </div>
  <div class="hm__menu">
    <a href="javascript:void(0)" routerLink="/" [routerLinkActiveOptions]="{exact: true}"  routerLinkActive="active">Home</a>
    <a href="javascript:void(0)" routerLink="/about-us" routerLinkActive="active">About Us</a>
    <a href="javascript:void(0)" routerLink="/how-to-use" routerLinkActive="active">How to use</a>
  </div>
  <div class="hm__auth">
    <label for="language">
      <select id="language" class="form-control">
        <option value="english" selected>English</option>
        <option value="indonesia">Indonesia</option>
      </select>
    </label>
    <button class="btn__hm outline-bottom-primary text__hm-semibold" type="button" (click)="goToLogin()">Sign In</button>
    <button class="btn__hm primary" (click)="goToRegister()">Register</button>
  </div>
</div>
