@import '../../assets/scss/responsive';

h1 {
  font-size: 52px;
  width: 100%;
  font-family: 'Satoshi-Bold', sans-serif;
  @include devices(md-screen) {
    font-size: 32px;
    text-align: center;
  }

}
