/* You can add global styles to this file, and also import other style files */
@import './assets/css/satoshi.css';
@import './assets/scss/variables';
@import './assets/scss/responsive';

* {
  font-family: 'Satoshi-Regular', sans-serif;
  box-sizing: border-box;
  margin: 0;
}


body {
  margin: 0 !important;
}

html, body {
  height:100%;
}

.text__hm-bold {
  font-weight: 800;
}

.text__hm-semibold {
  font-weight: 600;
}

.text__hm-regular {
  font-weight: 500;
}

.text__hm-light {
  font-weight: 400;
}

.text__hm-error {
  color: $maroon;
  font-size: 12px;
  display: block;
  padding-top: 4px;
}

.w-100  {
  width: 100%;
}

.form-control {
  width: 100%;
  border-radius: 9.876px;
  background: #EAF0F7;
  border: none;
  height: 40px;
  padding: 0 12px;
  font-size: 16px;
  color: $grey-darker;
  font-family: 'Satoshi-Medium', sans-serif;
}
