@import '../../assets/scss/variables';
@import '../../assets/scss/button';
@import '../../assets/scss/mixins';
@import '../../assets/scss/responsive';


.hm__body {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-image: url('/assets/images/img-background.png');
  background-size:  525px auto;
  background-repeat: no-repeat;
  background-position: top center;

  @include devices(md-screen) {
    padding: 8px;
    @include d-flex(flex-start, 12px, center, column);
    background: none;
  }

  .hm__background {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
  }

  .hm__welcome {
    @include d-flex(flex-start, 20px, flex-start, column);
    background: url('/assets/images/pattern.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 70px;
    width: 100%;

    @include devices(md-screen) {
      padding: 20px;
    }

    >h1 {
      font-size: 52px;
      width: 100%;
      font-family: 'Satoshi-Bold', sans-serif;
      @include devices(md-screen) {
        font-size: 32px;
        text-align: center;
      }

    }

    >p {
      font-size: 24px;
      width: 100%;

      @include devices(md-screen) {
        text-align: center;
        font-size: 16px;
      }
    }

    .outline-primary {
      padding: 0 !important;
      font-size: 20px;

      @include devices(md-screen) {
        font-size: 16px;
      }
    }
  }

  .hm__form {
    @include d-flex(flex-end, 20px, flex-start, column);
    width: 100%;

    .hm__inner-form {
      max-width: 400px;
      width: 100%;

      @include devices(md-screen) {
        max-width: 100%;
        width: 100%
      }


      .hm__action-form {
        @include d-flex(flex-start, 12px, center, column);

        div {
          width: 100%;
        }
      }

      >h1 {
        font-size: 36px;
        width: 100%;
        margin-bottom: 12px;

        @include devices(md-screen) {
          text-align: center;
          font-size: 24px;
        }
      }

      .hm__problem {
        width: 100%;
        @include d-flex(flex-end, 12px, center, column);

        .text__hm-secondary {
          color: $grey;
          text-align: right;
          margin: 12px 0;
        }
      }

      #btn-register {
        padding: 10px;
        font-size: 18px;
        margin: 0;
        box-shadow: 0px 11.851px 20.74px 3.95px rgba(68, 97, 242, 0.15);
      }

      .hm__separator {
        margin: 24px 0;
        white-space: nowrap;
        @include d-flex(center, 10px, space-between, row);

        >p {
          color: $grey;
          width: 100%;

          @include devices(md-screen) {
            text-align: center;
          }
        }

        span {
          border: 1px solid $grey;
          width: 100%;
          color: $grey;
          display: block;
        }
      }

      .hm__auth-with-social {
        margin: 0;
        @include d-flex(flex-start, 0, space-between, row);

        @include devices(md-screen) {
          padding-bottom: 20px;
          justify-content: center;
        }

        img {
          width: 100px;
          cursor: pointer;
        }
      }
    }
  }
}


.d-flex {
  @include d-flex(flex-start, 12px, space-between, row);
}


.text__hm-error {
  @include devices(md-screen) {
    padding: 0 12px;
  }
}
