
<div class="hm__body">
    <div class="hm__welcome">
      <h1 class="text__hm-bold">Sign Up to <br/> get your nutrients</h1>
      <p class="text__hm-semibold">if you already have an account <br/>you can <button class="btn__hm outline-primary text__hm-semibold" type="button" (click)="goToLogin()">Login here!</button></p>
    </div>
    <div class="hm__form">
      <div class="hm__inner-form">
        <h1 class="text__hm-bold">Welcome User</h1>
        <form class="hm__action-form" [formGroup]="registerForm">
          <div class="form-section">
            <input formControlName="email" type="email" class="form-control" placeholder="Enter Email">
            <ng-container *ngIf="emailControl.invalid && (emailControl.touched || emailControl.dirty)">
              <span class="text__hm-error" *ngIf="emailControl.errors.email">Email is not valid!</span>
              <span class="text__hm-error" *ngIf="emailControl.errors.required">Email is required!</span>
            </ng-container>
          </div>
          <div class="form-section">
            <input formControlName="password" type="password" class="form-control" placeholder="••••••••" >
            <ng-container *ngIf="passwordControl.invalid && (passwordControl.touched || passwordControl.dirty)">
              <span class="text__hm-error" *ngIf="passwordControl.errors.pattern">Password is not valid! (minimum 8 character, have uppercase, have lowercase, have numbers and have a special character)</span>
              <span class="text__hm-error" *ngIf="passwordControl.errors.required">Password is required!</span>
            </ng-container>
          </div>
          <div class="form-section d-flex">
            <div>
              <input type="number" formControlName="age" class="form-control" placeholder="Age" min="12">
              <ng-container *ngIf="ageControl.invalid && (ageControl.touched || ageControl.dirty)">
                <span class="text__hm-error" *ngIf="ageControl.errors.required">Age is required!</span>
                <span class="text__hm-error" *ngIf="ageControl.errors.min">Minimum Age is 12!</span>
              </ng-container>
            </div>
            <div>
              <label for="gender">
                <select id="gender" class="form-control" formControlName="gender">
                  <option value="" selected>Gender</option>
                  <option>Male</option>
                  <option>Female</option>
                </select>
              </label>
              <ng-container *ngIf="genderControl.invalid && (genderControl.touched || genderControl.dirty)">
                <span class="text__hm-error" *ngIf="genderControl.errors.required">Gender is required!</span>
              </ng-container>
            </div>

          </div>
          <div class="form-section d-flex">
            <div>
              <select id="height" formControlName="height" class="form-control">
                <option value="" selected>Height(cm)</option>
                <ng-container *ngFor="let item of dataHeight; let i = index;">
                  <option [value]="i + 1">{{i + 1}}(cm)</option>
                </ng-container>
              </select>
              <ng-container *ngIf="heightControl.invalid && (heightControl.touched || heightControl.dirty)">
                <span class="text__hm-error" *ngIf="heightControl.errors.required">Height is required!</span>
              </ng-container>
            </div>

            <div>
                <select id="weight" formControlName="weight" class="form-control">
                  <option value="" selected>Weight(kg)</option>
                  <ng-container *ngFor="let item of dataWeight; let i = index;">
                    <option [value]="i + 1">{{i + 1}}(kg)</option>
                  </ng-container>
                </select>
                <ng-container *ngIf="weightControl.invalid && (weightControl.touched || weightControl.dirty)">
                  <span class="text__hm-error" *ngIf="weightControl.errors.required">Weight is required!</span>
                </ng-container>
            </div>
          </div>
        </form>

        <div class="hm__problem">
          <button type="button" class="btn__hm outline-primary text__hm-secondary" (click)="onBtnClickHelp()">Having problem?</button>
        </div>

        <div class="hm__cta">
          <button class="btn__hm primary w-100 text__hm-semibold" [disabled]="(registerForm.touched || registerForm.dirty) && registerForm.invalid"  id="btn-register" type="button" (click)="onBtnRegister()" >Register</button>
          <div class="hm__separator">
            <span></span>
            <p>Or continue with</p>
            <span></span>
          </div>
          <div class="hm__auth-with-social">
            <img src="/assets/icons/google.svg" alt="Register-With-Google" tabindex="0" (click)="goToGoogle()">
            <img src="/assets/icons/apple.svg" alt="Register-With-Apple" tabindex="0" (click)="goToApple()">
            <img src="/assets/icons/facebook.svg" alt="Register-With-Facebook" tabindex="0" (click)="goToFacebook()">
          </div>
        </div>
      </div>
    </div>
  </div>
